# -*- mode: python ; coding: utf-8 -*-

block_cipher = None

# All Stitch modules
hiddenimports = [
    'base64', 'socket', 'subprocess', 'os', 'sys', 'time',
    'threading', 'json', 'platform', 'struct', 'hashlib',
    'Crypto', 'Crypto.Cipher', 'Crypto.Cipher.AES',
    'Crypto.Random', 'Crypto.Util', 'Crypto.Util.Padding'
]

a = Analysis(
    ['{entry_point}'],
    pathex=['{path_ex}'],
    binaries=[],
    datas=[],
    hiddenimports=hiddenimports,
    hookspath=[],
    hooksconfig={},
    runtime_hooks=[],
    excludes=[],
    win_no_prefer_redirects=False,
    win_private_assemblies=False,
    cipher=block_cipher,
    noarchive=False
)

pyz = PYZ(a.pure, a.zipped_data, cipher=block_cipher)

exe = EXE(
    pyz,
    a.scripts,
    a.binaries,
    a.zipfiles,
    a.datas,
    [],
    name='{name}',
    debug=False,
    bootloader_ignore_signals=False,
    strip=False,
    upx=True,
    upx_exclude=[],
    runtime_tmpdir=None,
    console={console},
    disable_windowed_traceback=False,
    target_arch=None,
    codesign_identity=None,
    entitlements_file=None,
    onefile=True
)
